{:deps
 {aleph {:mvn/version "0.4.6"}
  buddy/buddy-core {:mvn/version "1.6.0"}
  buddy/buddy-sign {:mvn/version "3.1.0"}
  compojure {:mvn/version "1.6.1"}
  com.fzakaria/slf4j-timbre {:mvn/version "0.3.19"}
  com.taoensso/nippy {:mvn/version "3.1.1"}
  com.taoensso/timbre {:mvn/version "4.10.0"}
  manifold {:mvn/version "0.1.8"}
  org.clojure/core.match {:mvn/version "0.3.0"}
  org.clojure/data.json {:mvn/version "0.2.6"}
  org.clojure/tools.cli {:mvn/version "0.4.2"}
  org.clojure/tools.logging {:mvn/version "0.5.0"}
  persistent-sorted-set {:mvn/version "0.1.2"}
  ring/ring-core {:mvn/version "1.7.1"}
  seancorfield/next.jdbc {:mvn/version "1.1.646"}
  yogthos/config {:mvn/version "1.1.7"}

  ;; JDBC drivers for the JDBC KV store backend
  ;; TODO: find a way to only bundle drivers that users actually want to use
  com.h2database/h2 {:mvn/version "1.4.200"}
  com.microsoft.sqlserver/mssql-jdbc {:mvn/version "8.2.1.jre8"}
  mysql/mysql-connector-java {:mvn/version "8.0.19"}
  org.postgresql/postgresql {:mvn/version "42.2.10"}
  org.xerial/sqlite-jdbc {:mvn/version "3.30.1"}
  org.mariadb.jdbc/mariadb-java-client {:mvn/version "2.5.4"}}
 :paths ["src"]
 :aliases {:dev {:extra-paths ["test" "dev"]
                 :extra-deps {com.cognitect/test-runner
                              {:git/url "https://github.com/cognitect-labs/test-runner"
                               :sha "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b"}}}
           :test {:extra-paths ["test" "dev"]
                  :main-opts ["-m" "cognitect.test-runner"]
                  :extra-deps {com.cognitect/test-runner
                               {:git/url "https://github.com/cognitect-labs/test-runner"
                                :sha "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b"}}}
           :lint {:extra-paths ["test" "dev"]
                  :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test" "dev"]
                  :extra-deps {clj-kondo {:mvn/version "RELEASE"}}}}}
