{:deps
 {aleph {:mvn/version "0.4.6"}
  buddy/buddy-core {:mvn/version "1.6.0"}
  buddy/buddy-sign {:mvn/version "3.1.0"}
  compojure {:mvn/version "1.6.1"}
  com.fzakaria/slf4j-timbre {:mvn/version "0.3.19"}
  com.gfredericks/test.chuck {:mvn/version "0.2.10"}
  com.taoensso/timbre {:mvn/version "4.10.0"}
  manifold {:mvn/version "0.1.8"}
  org.clojure/core.match {:mvn/version "0.3.0"}
  org.clojure/data.json {:mvn/version "0.2.6"}
  org.clojure/test.check {:mvn/version "1.1.0"}
  org.clojure/tools.cli {:mvn/version "0.4.2"}
  org.clojure/tools.logging {:mvn/version "0.5.0"}
  persistent-sorted-set {:mvn/version "0.1.2"}
  ring/ring-core {:mvn/version "1.7.1"}
  yogthos/config {:mvn/version "1.1.7"}}
 :paths ["src"]
 :aliases {:dev {:extra-paths ["test" "dev"]
                 :extra-deps {com.cognitect/test-runner
                              {:git/url "https://github.com/cognitect-labs/test-runner"
                               :sha "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b"}}}
           :test {:extra-paths ["test" "dev"]
                  :main-opts ["-m" "cognitect.test-runner"]
                  :extra-deps {com.cognitect/test-runner
                               {:git/url "https://github.com/cognitect-labs/test-runner"
                                :sha "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b"}}}
           :lint {:extra-paths ["test" "dev"]
                  :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test" "dev"]
                  :extra-deps {clj-kondo {:mvn/version "RELEASE"}}}}}
